body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background-color: lightblue;
}

#Tree {
/*
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX1630186.jpg");
    background-position: center;
*/
/*
    width: 100%;
    height: 100%;
*/
    display: block;
    float: right;
/*    background-repeat:no-repeat;*/
}

#Grass {
  
    max-width: 100%;
    position: center;
    background-size: cover;
    
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

   .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}